<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">
    <link href="css/txtdesign.css" rel="stylesheet">
    <link href="css/bus.css"  rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">BlueBus</a>
                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/adduser">SignUp</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            <!-- /.navbar-collapse -->
            </div>
        <!-- /.container -->
        </nav>
        <br><br><br><center><h3>Book the Seats</h3></center><br>
		<center><table>
			<tr>
				<td id="sq0" value="1"><center>1</center></td>
				<td id="sq1" value="5"><center>5</center></td>
				<td id="sq2"  value="9"><center>9</center></td>
				<td id="sq3"  value="13"><center>13</center></td>
				<td id="sq4"  value="17"><center>17</center></td>
				<td id="sq5"  value="21"><center>21</center></td>
				<td id="sq6"  value="25"><center>25</center></td>
				<td id="sq7"  value="29"><center>29</center></td>
				<td id="sq8"  value="33"><center>33</center></td>
                <td id="sq9"  value="37"><center>37</center></td>
			</tr>
			<tr>
				<td id="sq10"  value="2"><center>2</center></td>
				<td id="sq11"   value="6"><center>6</center></td>
				<td id="sq12"  value="10"><center>10</center></td>
				<td id="sq13"  value="14"><center>14</center></td>
				<td id="sq14"  value="18"><center>18</center></td>
				<td id="sq15"  value="22"><center>22</center></td>
				<td id="sq16"  value="26"><center>26</center></td>
				<td id="sq17"  value="30"><center>30</center></td>
				<td id="sq18"  value="34"><center>34</center></td>
                <td id="sq19"  value="38"><center>38</center></td>
			</tr>
			<tr>
				<td id="sq20" style="background-color:black"></td>
				<td id="sq21" style="background-color:black"></td>
				<td id="sq22" style="background-color:black"></td>
				<td id="sq23" style="background-color:black"></td>
				<td id="sq24" style="background-color:black"></td>
				<td id="sq25" style="background-color:black"></td>
				<td id="sq26" style="background-color:black"></td>
				<td id="sq27" style="background-color:black"></td>
				<td id="sq28" style="background-color:black"></td>
                <td id="sq29"   value="39"><center>39</center></td>
			</tr>
            <tr>
				<td id="sq30"  value="3"><center>3</center></td>
				<td id="sq31"  value="7"><center>7</center></td>
				<td id="sq32"  value="11"><center>11</center></td>
				<td id="sq33"  value="15"><center>15</center></td>
				<td id="sq34"  value="19"><center>19</center></td>
				<td id="sq35"  value="23"><center>23</center></td>
				<td id="sq36"  value="27"><center>27</center></td>
				<td id="sq37"  value="31"><center>31</center></td>
				<td id="sq38"  value="35"><center>35</center></td>
                <td id="sq39"  value="40"><center>40</center></td>	
			</tr>
            <tr>
				<td id="sq40"  value="4"><center>4</center></td>
				<td id="sq41"  value="8"><center>8</center></td>
				<td id="sq42"  value="12"><center>12</center></td>
				<td id="sq43"  value="16"><center>16</center></td>
				<td id="sq44"  value="20"><center>20</center></td>
				<td id="sq45"  value="24"><center>24</center></td>
				<td id="sq46"  value="28"><center>28</center></td>
				<td id="sq47"  value="32"><center>32</center></td>
				<td id="sq48"  value="36"><center>36</center></td>
                <td id="sq49"  value="41"><center>41</center></td>
			</tr>
		</table></center>
            <br><br>
            <center><select name="start" class="form-control inpsize form-control3" width="200px"> 
                <option value="">Starting Point</option> 
                <option value="Banglore">Banglore</option> 
                <option value="Chennai">Chennai</option> 
                <option value="Goa(Panjim)">Goa(Panjim)</option>
                <option value="Mumbai">Mumbai</option> 
            </select></center>
        <br>
            <center><select name="end" class="form-control inpsize form-control3"> 
                <option value="">Ending Point</option> 
                <option value="Banglore">Banglore</option> 
                <option value="Chennai">Chennai</option> 
                <option value="Goa(Panjim)">Goa(Panjim)</option>
                <option value="Hyderabad(Ameerpet)">Hyderabad</option>
                <option value="Mumbai">Mumbai</option> 
            </select></center>
        <br>
        <center><select name="numPeople" class="form-control inpsize form-control1"> 
                <option value="">No. of Seats</option> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option>
                <option value="4">4</option> 
            </select></center>
    </body>
</html>